In [ ]:
#nested if
a=4
b=5
c=7

d="abresh"
e="humayun"
 
if a==3:
  if b==6:
    g=d
    print(d)
  elif b==7:
    h=e
    print(h)
  else:
    print(a,b)

else:
  print(0)

0

In [ ]:
"""
commenting paragraphs.

id="abreshmina humayun"
print(id)

id2="abresh"
print(id2)
"""

id3="humayun"
print(id3)

humayun

In [ ]:
my_list=["abresh",2001,"ssuetian","ma jinnah road"]
print(my_list)
print(my_list[3])
print(my_list[-2])
print("a list can also be print like: "+my_list[3])
my_list_2= my_list[1]
my_list_2=my_list[:]
print(my_list_2)

['abresh', 2001, 'ssuetian', 'ma jinnah road']
ma jinnah road
ssuetian
a list can also be print like: ma jinnah road
['abresh', 2001, 'ssuetian', 'ma jinnah road']

In [ ]:
my_list.append("jamshed town")
print(my_list)

['abresh', 2001, 'ssuetian', 'ma jinnah road', 'jamshed town', 'chandni road', 'chandni road', 'chandni road', 'jamshed town', 'jamshed town', 'jamshed town', 'jamshed town', 'jamshed town', 'jamshed town', 'jamshed town', 'jamshed town', 'jamshed town']

In [ ]:
my_list.insert(5,"chandni road")
my_list[:]

['abresh',
 2001,
 'ssuetian',
 'ma jinnah road',
 'jamshed town',
 'chandni road',
 'chandni road',
 'chandni road',
 'chandni road',
 'jamshed town',
 'jamshed town',
 'jamshed town',
 'jamshed town',
 'jamshed town',
 'jamshed town',
 'jamshed town',
 'jamshed town',
 'jamshed town']

In [ ]:
my_list_3=my_list[2:4]
print(my_list_3)

['ssuetian', 'ma jinnah road']

In [ ]:
my_list=["krachi","atlanta","baltimore","chicago"]
print(my_list[-1:])

['baltimore']

In [ ]:
my_list=["krachi","atlanta","baltimore","chicago"]
del my_list[0]
my_l= my_list
print(my_l[:])

['atlanta', 'baltimore', 'chicago']

In [ ]:
my_list1=["krachi","atlanta","baltimore","chicago"]
my_list1.remove("atlanta")
my_l= my_list1[:]
print(my_l)

['krachi', 'baltimore', 'chicago']

In [ ]:
fruits=["apple","mango","orange"]
fruits[:]
print(fruits[:])

In [1]:
#understand pop

name=["abresh","daniel","searh"]
print(name.pop(1))

daniel

In [18]:
abc=["abresh","sana","ali","shazia","batool","saad"]
abc.sort(reverse = True)
print(abc)

['shazia', 'sana', 'saad', 'batool', 'ali', 'abresh']

In [41]:
cities=["karachi","sukkur","ravi","chennab","hyderabad","lahore","gujrat","jacobabad","chaniot","faislabad"]
print(sorted(cities, reverse= True))

cities.sort(reverse= True)
print(cities)

#slicing
list_1=cities[3:8]
print(list_1)

['sukkur', 'ravi', 'lahore', 'karachi', 'jacobabad', 'hyderabad', 'gujrat', 'faislabad', 'chennab', 'chaniot']
['sukkur', 'ravi', 'lahore', 'karachi', 'jacobabad', 'hyderabad', 'gujrat', 'faislabad', 'chennab', 'chaniot']
['karachi', 'jacobabad', 'hyderabad', 'gujrat', 'faislabad']